@use "@application/styles/constants" as constants;
@use "@application/styles/mixins" as mixins;

$root: "bottomMenu";

.bottomMenu {
  width: 90%;
  max-width: 450px;

  position: absolute;
  bottom: 1vh;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  position: relative;
  transition: .3s opacity ease-in-out, .3s transform ease-in-out;
  @include mixins.button-hover;
}

.buttonCount {
  position: absolute;
  top: -5px;
  left: 0;

  width: 25px;
  height: 25px;

  font-family: InterBlack, Discovery, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  color: constants.$BLACK;
  border-radius: 50%;
  background-color: constants.$WHITE;
  border: 2px solid constants.$BLACK;
  font-size: 12px;

  @include mixins.mod("orange", $root) {
    color: constants.$WHITE;
    background-color: #FF9933;
    border: 2px solid constants.$WHITE;
  }

  @include mixins.mod("ocean", $root) {
    color: constants.$WHITE;
    background-color: #FF9933;
    border: 2px solid constants.$WHITE;
  }

  @include mixins.mod("blue", $root) {
    color: constants.$WHITE;
    background-color: #13D5F8;
    border: 2px solid constants.$WHITE;
  }
}

.buttonActive {
  pointer-events: none;
  transform: scale(1.2);
}

.buttonInactive {
  pointer-events: none;
  opacity: 0.5;
}