@mixin hover {
  @media(hover: hover) {
    &:hover {
      @content;
    }
  }

  @media(hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin button-hover {
  transition: .3s transform ease-in-out;

  @include hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.8);
  }
}