@use "../../../../application/styles/constants" as constants;
@use "../../../../application/styles/mixins" as mixins;

.pauseButton {
  width: 60px;
  height: 60px;

  background: linear-gradient(45deg, rgb(231, 41, 66) 30%, rgb(240, 12, 163) 67%);

  border-radius: 20px;

  svg {
    font-size: 32px;
    color: constants.$WHITE;
  }

  @include mixins.button-hover;
}