.button {
  background-color: transparent;
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;

  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}