.booster {
  width: 104px;
  height: 68px;
}

.boosterImage {
  height: 80%;

  position: absolute;
  left: 50%;
  top: 46%;

  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  pointer-events: none;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
  }
}