@use "@/application/styles/animations" as animations;

.glow {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.glowImage {
  width: 300%;
  height: 300%;

  object-fit: contain;

  opacity: 0.3;

  @include animations.animation(rotate, 100s linear infinite);
}