@use "../../../../../application/styles/constants" as constants;


.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(constants.$BLACK, 0.7);
}

.loaderSpinner {
  width: 50px;
  height: 50px;
  background-color: constants.$VIOLET;
}