@use "@/application/styles/constants" as constants;

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(constants.$BLACK, 0.7);
}

.loaderSpinner {
  color: constants.$WHITE;
  text-indent: -9999em;
  font-size: 11px;
  animation-delay: -0.16s;

  &, &:after, &:before {
    background: constants.$WHITE;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }

  &:before {
    left: -1.5em;
    animation-delay: -0.32s;
    position: absolute;
    top: 0;
    content: '';
  }

  &:after {
    position: absolute;
    top: 0;
    content: '';
    left: 1.5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    transform: scaleY(1);
  }
  40% {
    box-shadow: 0 -2em;
    transform: scaleY(1.25);
  }
}