@use "@application/styles/constants" as constants;
@use "@application/styles/mixins" as mixins;

$root: "stat";

.stat {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 5px;
  height: 32px;

  &:before {
    content: "";

    position: absolute;
    left: 0;
    bottom: -3px;

    width: 100%;
    height: 2px;

    background: radial-gradient(52.37% 86.47% at 50% 50%, #fff 0, hsla(0, 0%, 100%, 0) 100%);
  }

  @include mixins.mod("velvet") {
    color: #FFEDE0;
  }

  @include mixins.mod("ocean") {
    color: constants.$WHITE;
  }

  @include mixins.mod("blue") {
    color: constants.$WHITE;
  }

  @include mixins.mod("beige") {
    color: constants.$BLACK;
  }
}

.statName {
  width: 60%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 16px;
  font-family: Discovery, KogniGear, sans-serif;
}

.statInfo {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: 10px;

  height: 100%;
}

.statImage {
  height: 60%;
}

.statValue {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  position: relative;
  top: 3px;

  font-size: 16px;
  font-family: InterBlack, KogniGear, sans-serif;
  font-weight: 900;
}