@use "@/application/styles/constants" as constants;
@use "@/application/styles/mixins" as mixins;

.gameCardsInfo {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translateX(-48%);

  width: 100%;
  max-width: 360px;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gameCardsTitle {
  span {
    font-family: KogniGear, Discovery, sans-serif;
    font-size: 32px;

    @include mixins.device using($device) {
      @if $device == constants.$DESC-LAND {
        font-size: 52px;
      }
    }
  }
}

.gameCardsDescription {
  span {
    font-family: Discovery, KogniGear, sans-serif;
    font-size: 16px;
  }
}

.gameCardsInfoBasketball {
  color: constants.$BASKETBALL_MAIN_COLOR;
}

.gameCardsInfoDunkShot {
  color: constants.$DUNK_SHOT_MAIN_COLOR;
}

.gameCardsInfoTileExplorer {
  color: constants.$TILE_EXPLORER_MAIN_COLOR;
}

.gameCardsInfoCar {
  color: constants.$CAR_MAIN_COLOR;
}

.gameCardsInfoDoodleJump {
  color: constants.$DOODLE_JUMP_MAIN_COLOR;
}
