@use "@/application/styles/constants" as constants;

.star {
  position: absolute;

  width: 40px;

  will-change: transform;

  opacity: 0;

  svg {
    fill: constants.$YELLOW;
    width: 100%;
  }
}