@mixin animation($name, $rest...) {
  animation: #{$name} $rest;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-1turn)
  }
}