@font-face {
  font-family: "KogniGear";
  src: url("/fonts/KogniGear.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Discovery";
  src: url("/fonts/Discovery.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akony";
  src: url("/fonts/Akony.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterBlack";
  src: url("/fonts/InterBlack.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}