@use "@/application/styles/mixins" as mixins;

$root: "title";

.title {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-content: center;
}

.text {
  font-family: AKONY, Satoshi, sans-serif;
  font-weight: bold;

  @include mixins.mod("win", $root, "status") {
    font-size: 32px;
  }

  @include mixins.mod("lose", $root, "status") {
    font-size: 24px;
  }

  @include mixins.mod("velvet", $root) {
    color: #FFEBD4
  }
}

